.body_Projets{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
	padding:30px 0;
    background-color: rgb(195, 199, 237);
}

.all_Projet_Projets{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liste_Projet_Projets{
    margin: 10px;
    width: 90%;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.liste_Projet_Projets .img_large{
    border: 5px solid rgb(230, 171, 198);
    opacity: 0.7;
    width: 100%;
}

.description_Projets{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 10px;
    z-index: 2;
}
.description_Projets div{
    margin-top: 20px;
    font-size: large;
}

.info_info-button_Projets{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.description_Projets h1 span{
    padding: 5px;
    border: 5px solid #fff;
}

.voir_Projets{
    cursor: pointer;
    color: rgb(195, 199, 237);
    border: 3px solid rgb(195, 199, 237);
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    transition: background-color .3s;
}

.voir_Projets:hover{
    color: #fff;
    background-color: rgb(195, 199, 237);
}

@media screen and (max-width: 991px){
    .liste_Projet_Projets{
        background-color: transparent;
        border: 5px solid rgb(230, 171, 198);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .liste_Projet_Projets .img_large{
        opacity: 1;
        border: none;
    }
}