.body_Projets{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding:30px 0;
    min-height: 100vh;
    background-color: rgb(14,12,23);
}

.title_Projets{
    font-size: 70px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.title_Projets::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 4px;
    bottom: 0;
    background-color: #fff;
    left: calc(50% - 97);
    animation: show_title_before_Projet 2s;
}

.title_Projets::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    bottom: -6px;
    left: calc(50% + 103px);
    background-color: rgb(230, 171, 198);
    animation: show_title_after_Projet 2s;
}

@keyframes show_title_before_Projet{
    0% {
        width: 0px;
	}
}

@keyframes show_title_after_Projet{
    0% {
        width:0px;
        height: 0px;
	}
}

.all_Projet_Projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.liste_Projet_Projets{
    margin: 10px;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.liste_Projet_Projets .img_large{
    border: 5px solid rgb(230, 171, 198);
    opacity: 0.7; /* Responsable des images noircies */
    width: 100%;
}

.description_nolarge_Projets{
    background-color: rgba(165, 172, 231,0.2);
    color: #fff;
}

.description_nolarge_Projets .row hr{
    border: none;
    border-top: 3px double rgb(230, 171, 198);
    overflow: visible;
    text-align: center;
    height: 5px;
}

.description_centered_Projets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_voir_Projets{
    margin: 10px;
    width: 80%;
    border: 2px solid rgba(230, 171, 198,0.9);
    border-radius: 10px;
    background: rgba(230, 171, 198,0.7);
}

.btn_voir_Projets:active{
    border: 2px solid rgba(230, 171, 198,0.9);
    background: rgba(230, 171, 198,1);
}

.description_large_Projets{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    z-index: 2;
    text-shadow: 1px 1px 1px rgb(0,0,0);
    background-color:rgba(230, 171, 198,0.9);
    transform: translateY(100%);
    transition: 1s;
}

.description_large_Projets div{
    margin-top: 20px;
}

.description_text_Projets{
    font-size: 25px;
}

.info_info-button_Projets{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.description_large_Projets h2 span{
    padding: 5px;
    border: 5px solid #fff;
}

.langages_lg_Projets{
    font-size: 25px;
}

.voir_Projets{
    cursor: pointer;
    color: rgb(195, 199, 237);
    border: 3px solid rgb(195, 199, 237);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    transition: background-color .3s;
}

.voir_Projets:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.voir_Projets:active{
    color: #fff;
    background-color: rgb(215, 219, 255);
}

@media screen and (max-width: 991px){
    .liste_Projet_Projets{
        background-color: transparent;
        border: 2px solid rgb(230, 171, 198);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .liste_Projet_Projets .img_large{
        opacity: 1;
        border: none;
    }
    .title_Projets{
        font-size: 50px;
        color: #fff;
        margin-bottom: 20px;
    }
    .title_Projets::before{
        width: 158px;
        left: calc(50% - 82px);
    }
    .title_Projets::after{
        width: 16px;
        height: 16px;
        bottom: -6px;
        left: calc(50% + 71px);
    }
}

@media screen and (min-width: 991px){
    .description_large_Projets:hover, .liste_Projet_Projets .img_large:hover ~ .description_large_Projets{
        background-color:rgba(195, 199, 237,0.9);
        transform: translateY(0%);
    }
}

@media screen and (min-width:1280px){
    .all_Projet_Projets{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .liste_Projet_Projets{
        width: 45%;
    }
    .description_text_Projets{
        font-size: 18px;
    }
    .langages_lg_Projets{
        font-size: 18px;
    }
    .description_large_Projets div{
        margin-top: 10px;
    }
}