#title{
    width: 100%;
    top: 40%;
    position: fixed;
    z-index: 10;
  }
  #triangle-up {
  background-image: url(../Accueil/IMG_3382.jpg);background-size: cover;background-attachment: fixed;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 100vh solid transparent;
    transition: 2s ease-in-out;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
  }
  
  #triangle-down {
  background-image: url(../Accueil/IMG_3382.jpg);background-size: cover;background-attachment: fixed;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 100vw solid transparent;
    border-top: 100vh solid transparent;
    transition: 2s ease-in-out;
    float: left;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
  }
  
  #button {
    position: fixed;
    z-index: 2;
    opacity: 1;
    width: 11vh;
    height: 11vh;
    bottom: 100px;
    left: calc(50% - 5.5vh);
    background-color:#fa0a79;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 2em;
    transition: .5s ease-in-out;
    cursor: pointer;
     
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  }
  
  #button:focus {
    outline: 0;
  }
  
  #button:hover {
    transform: scale(1.5);
  }
  
  #button:active {
    transform: scale(1.1);
  }
  
  #triangle-down.usenand {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 100vh solid rgb(195, 199, 237);
    transition: 2s ease-in-out;
  }
  
  #triangle-up.usenand {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 100vh solid rgb(230, 171, 198);
    transition: 2s ease-in-out;
  }
  
  section{
    height:100vh;
  }
  
  .opacity0{
      opacity: 0;
  }