#body_Accueil{
    margin:0;
	padding:0;
	width:100%;
    height: 100vh;
}

.sub-body_Accueil {
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	background: url(./IMG_3382.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 100vh;
	display: table;
}

.text_Theo{
    font-family:'Times New Roman';
    font-size:176.39px;
    line-height:1.25;
    stroke-width:.35278;
}

.tspan_Theo{
    fill:#fff;
    font-size:44.097px;
    stroke-width:.35278;
    stroke:#ffffff;
    stroke-dasharray: 250;
    opacity:10;
    animation: animationTheo 2.5s cubic-bezier(0,0.23,1,.1);
}

@keyframes animationTheo {
	0% {
		opacity:0;
		fill: none;
		stroke-dashoffset: 250;
	}
	
	30% {
		opacity:10;
		fill: none;
		stroke-dashoffset: 250;
	}
	
	90%{
		fill: rgba(255,255,255,0);
	}
	
	100% {
		opacity:10;
		fill: rgba(255,255,255,1);
		stroke-dashoffset:0;
	}
}

.wrapper_Accueil {
	position:absolute;
	top: 45%;
	left:50%;
	transform:translate(-50%,-50%);
}

.svg_Accueil {
    height: auto;
	max-width: 100%;
	transition: opacity 1.5s;
  }

#title_Accueil{
    width: 100%;
    top: 40%;
    position: fixed;
    z-index: 10;
  }

#triangle-up {
    background-image: url(../Accueil/IMG_3382.jpg);background-size: cover;background-attachment: fixed;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 100vh solid transparent;
    transition: 2s ease-in-out;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    }

#triangle-down {
    background-image: url(../Accueil/IMG_3382.jpg);background-size: cover;background-attachment: fixed;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 100vw solid transparent;
    border-top: 100vh solid transparent;
    transition: 2s ease-in-out;
    float: left;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    }

#button {
    position: fixed;
    z-index: 2;
    opacity: 1;
    width: 11vh;
    height: 11vh;
    bottom: 100px;
    left: calc(50% - 5.5vh);
    background-color:#fa0a79;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 2em;
    transition: .5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
    }

#button:focus {
    outline: 0;
    }

#button:hover {
    transform: scale(1.5);
    }

#button:active {
    transform: scale(1.1);
    }

#triangle-down.usenand {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 100vh solid rgb(195, 199, 237);
    transition: 2s ease-in-out;
    }

#triangle-up.usenand {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 100vh solid rgb(230, 171, 198);
    transition: 2s ease-in-out;
    }

section{
    height:100vh;
    }

.opacity0{
    opacity: 0;
    }