.body_APropos{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(14,12,23);
    color: #fff;
}

.APropos_down{
    position: fixed;
    bottom: 0vh;
    left: calc(50% - 5vh);
    z-index: 0;
    animation: pingping_bottom 3s infinite;
    animation-delay: 1s;
}

@keyframes pingping_bottom{
    0%{
        bottom: 0vh;
    }
    10%{
        bottom: 5vh;
    }
    20%{
        bottom: 0vh;
    }
    30%{
        bottom: 3vh;
    }
    40%{
        bottom: 0vh;
    }

}

.banner_APropos{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_APropos video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner_APropos .title{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 5px black;
}

/* Replaced by a js function
.banner_APropos .title::after{
    content: "Théo";
    animation:  changeText 10s linear infinite;
}

@keyframes changeText{
    25%{
        content: "MasterFiyeur";
    }
    50%{
        content: "a computer engineering student";
    }
    75%{
        content: "a figure skater";
    }
}
*/

.content_APropos{
    padding: 30px 30px 30px 30px;
    position: absolute;
    top: 100%;
    padding-top: 20px;
    background-color: rgb(14,12,23);
}

.content_APropos h1{
    margin-top: 15px;
    margin-bottom: 15px;
}

.APropos_text{
    text-align: justify;
    font-size: 20px;
}

.APropos_text b{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(230, 171, 198);
}

.APropos_text ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 30px;
}

.APropos_quote{
    font-size: 22px;
    text-align: center;
    font-style: italic;
}

.APropos_video{
    margin-top: 20px;
    position: relative;
    overflow: hidden; 
    padding-top: 56.25%; 
}

.APropos_video iframe{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
}


@media screen and (max-width: 991px){
    .banner_APropos .title{
        font-size: 3em!important;
    }
    .APropos_text{
        font-size: 15px;
    }

}

@media screen and (max-width: 599px){

    .banner_APropos .title{
        font-size: 2em!important;
    }

}